/* Channel Mute button */
.iconWrapper-2OrFZ1[role="switch"]:hover {
  animation: Notif 1.5s infinite ease-in-out;
}
@keyframes Notif {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg) scale(1.01);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* User Modal Buttons */
.button-14-BFJ:hover .contents-18-Yxp {
  animation: UserModalButtons 0.5s normal ease;
}
@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Settings Button */
.button-14-BFJ[aria-label="User Settings"]:hover .contents-18-Yxp {
  animation: rotate 3s infinite;
}
